*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #0c0c0c;
  --color-secondary: rgb(131, 131, 131) ;
  --color-text: #fff;
  --ff-header: "Cormorant", serif;
  --ff-pg: "fira sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header h1 {
  color: var(--color-text);
  font-size: 1em;
  font-weight: bold;
  background-color: var(--color-primary);
  font-family: var(--ff-header);
}
header .logo {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1.8em;
  padding-right: 1.8em;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

nav {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
  opacity: 0.5;
  z-index: 9999;
}
nav ul {
  display: grid;
  place-content: center;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 11em;
}
nav ul li {
  padding-bottom: 2em;
  font-size: 1.4em;
  font-family: var(--ff-pg);
  letter-spacing: 0.2em;
}

.open-nav {
  transform: translateY(0);
  opacity: 1;
  z-index: 9999;
}

.btn-menu {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: 2em;
  right: 2em;
  cursor: pointer;
  z-index: 3;
}

.btn-close {
  position: fixed;
  top: 1.8em;
  right: 1.8em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.btn-close path {
  fill: white;
}

.hero {
  width: 100%;
}
.hero .container {
  width: 100%;
}
.hero .container .hero-image {
  position: relative;
  min-width: 100vw;
  min-height: 50%;
}
.hero .container .hero-image img {
  position: absolute;
  z-index: -1;
  width: 60%;
  background-size: cover;
  right: 0;
  top: 9em;
}
.hero .container .hero-title {
  max-width: 100vw;
  max-height: 100vh;
  padding: 6em 2em;
}
.hero .container .hero-title h1 {
  font-family: var(--ff-header);
  font-size: clamp(2em, 10vw, 5em);
  font-weight: bold;
  line-height: 1.1em;
  padding-bottom: 0.5em;
}
.hero .container .hero-title p {
  font-family: var(--ff-pg);
  font-size: 1em;
  color: var(--color-secondary);
}
.hero .container .nav-social-media {
  width: 100%;
  display: flex;
  gap: 0.8em;
  position: relative;
}
.hero .container .nav-social-media .link-socmed {
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  bottom: 3em;
}
.hero .container .nav-social-media .gmail {
  right: 1.5em;
}
.hero .container .nav-social-media .twitter {
  right: 4em;
}
.hero .container .nav-social-media .instagram {
  right: 6.5em;
}
.hero .container .cta-scroll {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  padding: 0 0 0 2.8em;
  font-family: var(--ff-pg);
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.8em;
  color: var(--color-secondary);
}

.container .content-title {
  padding: 4em 2em 9em 2em;
}
.container .content-title h1 {
  font-family: var(--ff-header);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.8em;
}
.container .content-title p {
  font-family: var(--ff-pg);
  color: var(--color-secondary);
  line-height: 1.6em;
}
.container .list-thumb {
  position: relative;
  padding: 2em 2em;
  width: 100%;
  min-height: 100vh;
  background: var(--color-primary);
}
.container .list-thumb .thumb {
  width: 100%;
  height: 28em;
  position: absolute;
  padding-bottom: 6em;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.container .list-thumb .thumb a img {
  height: 25em;
}
.container .list-thumb .thumb p {
  font-family: var(--ff-pg);
  font-size: 0.5em;
  color: var(--color-text);
  padding-top: 2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.container .list-thumb .thumb hr {
  width: 40%;
  margin-top: 1em;
}
.container .list-thumb .first {
  top: -5em;
}
.container .list-thumb .second {
  top: 28em;
}
.container .list-thumb .third {
  top: 55em;
}

footer {
  width: 100%;
  background-color: var(--color-primary);
  padding: 8em;
}
footer p {
  color: var(--color-text);
  font-family: var(--ff-pg);
  font-size: 0.5em;
  text-align: center;
  position: relative;
  bottom: -8em;
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveText {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveText {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */