*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #0c0c0c;
    --color-secondary: rgb(131, 131, 131) ;
    --color-text: #fff;

    --ff-header: 'Cormorant', serif;
    --ff-pg: 'fira sans', sans-serif;
}

// .wrapper{
    
//  scroll-snap-type: y mandatory;
//     overflow-y: scroll;
//     height: 100vh;
// }

// section{
//     scroll-snap-align: start;
//     position: relative;
// }


html{
    scroll-behavior: smooth;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: introHead 2s ease-in-out forwards;
    opacity: 0;
    
   
    h1{
        color: var(--color-text);
        font-size: 1em;
        font-weight: bold;
        background-color: var(--color-primary);
        font-family: var(--ff-header);

    }

    .logo{
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
}

a{
    color: var(--color-text);
    text-decoration: none;
}

nav{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    position: fixed;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    opacity: .5;
    z-index: 9999;

    ul{
        display: grid;
        place-content: center;
        list-style-type: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 11em;
        
        li{
            padding-bottom: 2em;
            font-size: 1.4em;
            font-family: var(--ff-pg);
            letter-spacing: .2em;
        }
    }
}

.open-nav{
    transform: translateY(0);
    opacity: 1;
    z-index: 9999;
}

.btn-menu{
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 3;

}

.btn-close{
    position: fixed;
    top: 1.8em;
    right: 1.8em;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;

    path{
        fill: white;
    }
}


.hero{
    width: 100%;
    // min-height: 100vh;

    .container{
        width: 100%;

        .hero-image{
            position: relative;
            min-width: 100vw;
            min-height: 50%;
            
            img{
                position: absolute;
                z-index: -1;
                width: 60%;
                background-size: cover;
                right: 0;
                top: 9em;
                animation: introLoad 1s ease-in-out;
            }
        }

        .hero-title{
            max-width: 100vw;
            max-height: 100vh;
            padding: 6em 2em;
            animation: moveText 2s ease-in-out .2s forwards;
            opacity: 0;


            h1{
                font-family: var(--ff-header);
                font-size: clamp(2em, 10vw, 5em);
                font-weight: bold;
                line-height: 1.1em;
                padding-bottom: .5em;
            }

            p{
                font-family: var(--ff-pg);
                font-size: 1em;
                color: var(--color-secondary);
            }

        }

        .nav-social-media{
            width: 100%;
            // max-height: 10%;
            display: flex;
            gap: .8em;
            position: relative;
            animation: introMedia 1s ease-in-out;
    

            .link-socmed{
                width: 1.4em;
                height: 1.4em;
                position: absolute;
                bottom: 2em;
            }

            .gmail{
                right: 1.5em;
            }

            .twitter{
                right: 4em;
            }

            .instagram{
                right: 6.5em;
            }

        }

        .cta-scroll{
            writing-mode: vertical-rl;
            padding:0 0 0 2.8em;
            font-family: var(--ff-pg);
            text-transform: uppercase;
            font-size: .6em;
            letter-spacing: .8em;
            color: var(--color-secondary);
            animation: introScroll 1s ease-in-out;

            span{
                animation: ctaScroll 1s ease-in-out infinite;
            }
        }
    }

}


.container{

    .content-title{
        padding: 5em 2em 10em 2em;        


        h1{
            font-family: var(--ff-header);
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: .8em;
        }

        p{
            font-family: var(--ff-pg);
            color: var(--color-secondary);
            line-height: 1.6em;
        }
    }

    .list-thumb{
        position: relative;
        width: 100%;
        min-height: 132.8vh;
        background: var(--color-primary);
        display: flex;
        justify-content: center;

        .thumb{
            height: 28em;
            width: 100%;
            position: absolute;
            padding-bottom: 10em;
            padding-left: 2em;
            padding-right: 2em;
            z-index: 2;

            a{
                display: block;
                
                img{
                    width: 100%;
                    object-fit: cover;
                    background-size: cover;
                }
            }

            p{
                font-family: var(--ff-pg);
                font-size: .5em;
                color: var(--color-text);
                padding-top: 2em;
                text-transform: uppercase;
                letter-spacing: .3em;
            }

            hr{
                width: 40%;
                margin-top: 1em;
             }
        }

        .first{
            top: -5em;
        }

        .second{
            top: 28em;
        }

        // .third{
        //     top: 55em;
        // }
    }


}

footer{
    width: 100%;
    min-height: 30vh;
    background-color: var(--color-primary);
    padding: 10em 0 0 0;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: var(--color-text);
        font-family: var(--ff-pg);
        font-size: .5em;
        text-align: center;
        bottom: 5em;
        padding-bottom:1em;
        padding-left: 11em;
        padding-right:11em;
        position: absolute;
        
        
    }

    .nav-social-media{
        width: 100%;
        display: flex;
        gap: .8em;
        padding: 0 11em 4em 11em;


        .link-socmed{
            width: 1.4em;
            height: 1.4em;
        }


        svg path{
            fill: white;
        }

        .gmail{
            right: 8.5em;
        }

        .twitter{
            right: 11em;
        }

        .instagram{
            right: 13.5em;
        }

    }
}

.cta{
    position:relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 4.5em;
    
  

    .btn-cta{
        color: var(--color-text);
        font-family: var(--ff-pg);
        bottom: 0em;
        left: 7.5em;
        text-transform: uppercase;
        letter-spacing: .19em;
        border: 1px solid white;
        padding: 1em 2em;
       
        &:hover {
           background-color: var(--color-text);
        }

        &:hover a{
            color: var(--color-primary);
        }

    }
}








@keyframes introLoad{

    from{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}

@keyframes moveText{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes introHead{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes introMedia{
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: sclae(1);
        opacity: 1;
    }
}

@keyframes introScroll{
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: sclae(1);
        opacity: 1;
    }
}

@keyframes ctaScroll{
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
    }
}
