*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #0c0c0c;
    --color-secondary: rgb(131, 131, 131) ;
    --color-text: #fff;

    --ff-header: 'Cormorant', serif;
    --ff-pg: 'fira sans', sans-serif;
}

// .wrapper{
    
//  scroll-snap-type: y mandatory;
//     overflow-y: scroll;
//     height: 100vh;
// }

// section{
//     scroll-snap-align: start;
//     position: relative;
// }



header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   
    h1{
        color: var(--color-text);
        font-size: 1em;
        font-weight: bold;
        background-color: var(--color-primary);
        font-family: var(--ff-header);

    }

    .logo{
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
}

a{
    color: var(--color-text);
    text-decoration: none;
}

nav{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    position: fixed;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    opacity: .5;
    z-index: 9999;

    ul{
        display: grid;
        place-content: center;
        list-style-type: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 11em;
        
        li{
            padding-bottom: 2em;
            font-size: 1.4em;
            font-family: var(--ff-pg);
            letter-spacing: .2em;
        }
    }
}

.open-nav{
    transform: translateY(0);
    opacity: 1;
    z-index: 9999;
}

.btn-menu{
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 3;

}

.btn-close{
    position: fixed;
    top: 1.8em;
    right: 1.8em;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;

    path{
        fill: white;
    }
}

.page-one{
    width: 100%;
    height: 100vh;
    font-family: var(--ff-header);
    position: relative;
   
    .hero{
       height: 100vh;

        .hero-image{
            width: 100%;

            img{
                position: absolute;
                top: 15em;
                right: 0;
                z-index: -2;
                max-width: 60%;
                max-height: 50%;
                background-size: cover;
                object-fit: cover;
                animation: introLoad 1s ease-in-out;
            }
        
        }
    
        .hero-title{
            width: 100%;
            
            h1{
                position: absolute;
                top: 5em;
                left: 1em;
                right: 1em;
                font-weight: bold;
                font-size: 2rem;
                line-height: -.5em;
                opacity: 0;
                animation: moveText 1.5s ease-in-out .5s forwards ;

            }

            p{ 
                position: absolute;
                top: 26em;
                left: 2.3em;
                font-family: var(--ff-pg);
                color: var(--color-secondary);
                font-size: .9em;
                opacity: 0;
                animation: moveText 1.5s ease-in-out .5s forwards ;

            }
        }

        .cta-scroll{
            position: absolute;
            writing-mode: vertical-rl;
            text-transform: uppercase;
            font-size: .7em;
            letter-spacing: .3em;
            font-family: var(--ff-pg);
            color: var(--color-secondary);
            z-index: -1;
            bottom: 2em;
            left: 2.2em;
            
        }
    }


.nav-social-media{
    display: flex;
    gap:1em;
    position: absolute;
    right: 2em;
    bottom: 3em;

    svg{
        width: 20px;
        padding-bottom: .5em;
    }
}

}



.page-two{
    max-width: 100%;
    height: 100vh;
    position: relative;

    .content{
        height: 100vh;

        .head{
            line-height: 1.5em;

            h1{
                position: absolute;
                top: 2em;
                left: 1em;
                text-transform: uppercase;
                font-family: var(--ff-header);
                font-size: 2rem;

              
            }

            p{
                position: absolute;
                top: 6.8em;
                left: 2em;
                right: 1.9em;
                font-family: var(--ff-pg);
                font-size: 1em;
                color: var(--color-secondary);
            }
        }


        .list-thumb{
            width: 100%;
            // margin-top: 10em;
    
            .thumb{
                    
                a{
                    display: block;
    
                    img{
                        position: absolute;
                        bottom: 6em;
                        left: 1em;
                        max-width: 70%;
                        padding-left: 1em;
                        object-fit: cover;
                        background-size: cover;
                    }

                }
    
    
            }
    
        }



    }
}




@keyframes introLoad{

    from{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveText{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}